@charset "UTF-8";
/*公用样式*/
/*公用样式*/
/*轮播图*/
.carousel-item img {
  width: 100%; }

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px; }

.carousel-indicators .active {
  background: #fff; }

.carousel-control-next,
.carousel-control-prev {
  background: black;
  width: 3%;
  height: 20%;
  top: 40%; }

/*轮播图*/
/*主体内容（1）*/
.font_color {
  color: #787878; }

/*主体内容（1）*/
/*主体内容（2）*/
.glyphicon-book {
  font-size: 50px; }

.ico {
  position: absolute;
  left: 0.4rem;
  top: 0;
  font-size: 2rem; }

.text {
  position: absolute;
  left: 4.5rem;
  top: 1rem; }

.bg_padding {
  padding-bottom: 14rem; }

/*主体内容（2）*/
/*展示大图*/
.title_border:after {
  content: "";
  display: block;
  margin: 1rem auto 0;
  width: 10rem;
  border-bottom: 2px solid #a0ce4e; }

.title2_border:after {
  content: "";
  display: block;
  margin-top: 1rem;
  width: 3rem;
  border-bottom: 2px solid #a0ce4e; }

/*展示大图*/
/*左图 右字*/
.icon_color {
  color: #a0ce4e; }

.bg2_color {
  padding: 5rem 5rem;
  background: #f4f4f4; }

/*左图 右字*/
/*黑框背景图*/
.img_box {
  height: 20rem;
  width: 100%;
  background: url(../img/counter.jpg) no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.black_box {
  width: 100%;
  height: 20rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 5rem 0 5rem; }

/*黑框背景图*/
/*图标加字*/
.row_mt {
  margin-top: 14rem; }

/*图标加字*/
/*黑框背景图2*/
.img_box2 {
  height: 20rem;
  width: 100%;
  background-size: 100%;
  background: url(../img/dark_wood.png);
  background-attachment: fixed; }

.black_box2 {
  width: 100%;
  height: 20rem;
  color: #fff;
  padding: 5rem 0 5rem;
  margin-top: 20rem; }

/*黑框背景图2*/
/*动画滚动条 手风琴*/
.animei_box {
  background: #eee;
  position: relative; }

/* 动画效果第一套 */
.animei_1 {
  width: 14rem;
  height: 0.9rem;
  background: #a0ce4e;
  animation: translate11 1s linear; }

@keyframes translate11 {
  0% {
    width: 0rem; }
  100% {
    width: 14rem; } }

.animei_ok {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #a0ce4e;
  border-radius: 50%;
  position: absolute;
  left: 13.9rem;
  top: -0.9rem;
  animation: translate12 1s linear; }

.animei_ok p {
  position: absolute;
  top: -30px;
  left: 8px; }

.animei_ok span {
  line-height: 2.5rem;
  color: #a0ce4e; }

@keyframes translate12 {
  0% {
    left: 0rem; }
  100% {
    left: 13.9rem; } }

/* 动画效果第一套 */
/* 动画效果第二套 */
.animei_2 {
  width: 17rem;
  height: 0.9rem;
  background: #a0ce4e;
  animation: translate21 1s linear; }

@keyframes translate21 {
  0% {
    width: 0rem; }
  100% {
    width: 17rem; } }

.animei_ok2 {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #a0ce4e;
  border-radius: 50%;
  position: absolute;
  left: 16.7rem;
  top: -0.9rem;
  animation: translate22 1s linear; }

.animei_ok2 p {
  position: absolute;
  top: -30px;
  left: 8px; }

.animei_ok2 span {
  line-height: 2.5rem;
  color: #a0ce4e; }

@keyframes translate22 {
  0% {
    left: 0rem; }
  100% {
    left: 16.7rem; } }

/* 动画效果第二套 */
/* 动画效果第三套 */
.animei_3 {
  width: 20.3rem;
  height: 0.9rem;
  background: #a0ce4e;
  animation: translate31 1s linear; }

@keyframes translate31 {
  0% {
    width: 0rem; }
  100% {
    width: 20.3rem; } }

.animei_ok3 {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #a0ce4e;
  border-radius: 50%;
  position: absolute;
  left: 20rem;
  top: -0.9rem;
  animation: translate32 1s linear; }

.animei_ok3 p {
  position: absolute;
  top: -30px;
  left: 8px; }

.animei_ok3 span {
  line-height: 2.5rem;
  color: #a0ce4e; }

@keyframes translate32 {
  0% {
    left: 0rem; }
  100% {
    left: 20rem; } }

/* 动画效果第三套 */
/* 动画效果第四套 */
.animei_4 {
  width: 24.2rem;
  height: 0.9rem;
  background: #a0ce4e;
  animation: translate41 1s linear; }

@keyframes translate41 {
  0% {
    width: 0rem; }
  100% {
    width: 24.2rem; } }

.animei_ok4 {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #a0ce4e;
  border-radius: 50%;
  position: absolute;
  left: 24rem;
  top: -0.9rem;
  animation: translate42 1s linear; }

.animei_ok4 p {
  position: absolute;
  top: -30px;
  left: 8px; }

.animei_ok4 span {
  line-height: 2.5rem;
  color: #a0ce4e; }

@keyframes translate42 {
  0% {
    left: 0rem; }
  100% {
    left: 24rem; } }

/* 动画效果第四套 */
/* 动画效果第五套 */
.animei_5 {
  width: 28.2rem;
  height: 0.9rem;
  background: #a0ce4e;
  animation: translate51 1s linear; }

@keyframes translate51 {
  0% {
    width: 0rem; }
  100% {
    width: 28.2rem; } }

.animei_ok5 {
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid #a0ce4e;
  border-radius: 50%;
  position: absolute;
  left: 28rem;
  top: -0.9rem;
  animation: translate52 1s linear; }

.animei_ok5 p {
  position: absolute;
  top: -30px;
  left: 8px; }

.animei_ok5 span {
  line-height: 2.5rem;
  color: #a0ce4e; }

@keyframes translate52 {
  0% {
    left: 0rem; }
  100% {
    left: 28rem; } }

/* 动画效果第五套 */
.card_hr {
  border-top: 4px solid #a0ce4e; }

.text_color {
  color: #787878; }

#parnet > .card_hr {
  border: none !important; }

/*动画滚动条 手风琴*/
/*位移图片*/
.bg3_color {
  background: #f8f9f9; }

.chat, .chat2, .chat3, .chat4, .chat5 {
  width: 30px;
  height: 20px;
  background: #000;
  border-radius: 3px;
  position: absolute;
  top: -1.8rem;
  left: 0.2rem;
  text-align: center;
  line-height: 20px;
  z-index: 100; }

.chat2 {
  left: 3.5rem; }

.chat3 {
  left: 9.5rem; }

.chat4 {
  left: 17rem; }

.chat5 {
  left: 23rem; }

.triangle, .triangle2, .triangle3, .triangle4, .triangle5 {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background: #000;
  position: absolute;
  top: -1rem;
  left: 1.2rem;
  transform: rotate(113deg);
  z-index: 1; }

.triangle2 {
  left: 4.5rem; }

.triangle3 {
  left: 10.5rem; }

.triangle4 {
  left: 18rem; }

.triangle5 {
  left: 24rem; }

#touch_1, #touch_2, #touch_3, #touch_4, #touch_5 {
  display: none; }

a:hover #touch_1 {
  display: block; }

a:hover #touch_2 {
  display: block; }

a:hover #touch_3 {
  display: block; }

a:hover #touch_4 {
  display: block; }

a:hover #touch_5 {
  display: block; }

.pic_box {
  width: 14.2rem;
  height: 21.2rem;
  overflow: hidden; }
  .pic_box img {
    transition: 0.2s linear; }
  .pic_box:hover img {
    transform: translateY(-55px); }
  .pic_box .text_box {
    transition: 0.2s linear; }
  .pic_box:hover .text_box {
    transform: translateY(-55px); }

.pic_box2 {
  width: 14.2rem;
  height: 13rem;
  overflow: hidden; }
  .pic_box2 img {
    transition: 0.2s linear; }
  .pic_box2:hover img {
    transform: translateY(-35px); }
  .pic_box2 .text_box2 {
    transition: 0.2s linear; }
  .pic_box2:hover .text_box2 {
    transform: translateY(-60px); }

/*位移图片*/
/*变色背景标题*/
.text_background {
  width: 100%;
  height: 5rem;
  color: white;
  line-height: 5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: 0.3s; }
  .text_background span {
    text-decoration: underline; }
  .text_background span:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid white;
    position: relative;
    top: 4px;
    left: 3px; }
  .text_background:hover {
    background: #a0ce4e !important; }

/*变色背景标题*/
/*轮播图2*/
.bg_color5 {
  background: #f8f9f9;
  padding: 3% 0 3%; }

.little_hand:hover {
  cursor: pointer !important; }

/*轮播图2*/
/*表格*/
table {
  font-size: 0.9rem; }
  table .my_font_size {
    font-size: 4.5rem;
    color: #474747;
    font-weight: lighter; }
  table .font_color {
    color: #787878; }
  table .bg_color6 {
    color: #fff;
    background: #a0ce4e; }
  table tr {
    box-shadow: 0px 0px 5px 0px #787878 inset !important; }
  table td {
    box-shadow: 0px 0px 7px 0px #787878 inset !important; }
  table .locate {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    background: #a0ce4e;
    font-size: 1rem;
    font-weight: bolder;
    top: -3rem;
    right: -2rem; }
  table .btn-success {
    border: none;
    background: #a0ce4e; }
  table .btn-success:hover {
    background: #a0ce4e; }
  table .btn_hover {
    transition: 0.5s linear; }
  table .btn_hover:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0px 17px 29px -9px black; }

/*表格*/
/*上4图*/
.my_bgcolor6 {
  background: #f4f4f4; }

/*下4图*/
/*轮播图3*/
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px !important; }

.banner3 {
  background: #f8f9f9; }

/*轮播图3*/
/*三图切换*/
.box_size {
  width: 30%;
  height: 25rem; }
  .box_size .box_size2 {
    height: 15em;
    overflow: hidden; }
    .box_size .box_size2 .little_box {
      width: 100%;
      height: 25rem;
      color: #fff;
      text-align: center;
      font-size: 2rem;
      font-weight: lighter;
      line-height: 20rem;
      background: #000;
      transition: 0.2s; }
    .box_size .box_size2 img {
      transition: 0.2s; }
    .box_size .box_size2:hover img {
      transform: translateY(-277.19px); }
    .box_size .box_size2:hover .little_box {
      transform: translateY(-277.19px); }

/*三图切换*/
/*绿条背景框*/
.my_bgcolor7 {
  background-color: #a0ce4e; }
  .my_bgcolor7 input {
    border: 1px solid #fff;
    border-radius: 2px;
    background: #a0ce4e;
    border-right: none;
    position: relative;
    top: 1px; }
    .my_bgcolor7 input::placeholder {
      padding-left: 0.5rem;
      color: #fff; }
    .my_bgcolor7 input:active {
      border-color: #fff !important; }
  .my_bgcolor7 button {
    color: #fff;
    background: #a0ce4e;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0rem 0.8rem 0;
    font-size: 1rem;
    position: relative;
    cursor: pointer; }
  .my_bgcolor7 .font_box {
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row-reverse !important;
    align-items: center; }
    .my_bgcolor7 .font_box div {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      text-align: center;
      margin-left: 0.5rem; }
      .my_bgcolor7 .font_box div:hover {
        background: #a0ce4e !important; }
      .my_bgcolor7 .font_box div p {
        margin-top: 0.5rem;
        color: #888; }
      .my_bgcolor7 .font_box div:hover p {
        color: #fff !important; }

/*绿条背景框*/
/*最后一块内容*/
.box_1 .my_bgcolor8, .box_2 .my_bgcolor8, .box_3 .my_bgcolor8, .box_4 .my_bgcolor8 {
  width: 100% !important;
  height: 0.1rem !important;
  display: inline-block;
  background: #eee; }
  .box_1 .my_bgcolor8 .my_bgcolor9, .box_2 .my_bgcolor8 .my_bgcolor9, .box_3 .my_bgcolor8 .my_bgcolor9, .box_4 .my_bgcolor8 .my_bgcolor9 {
    height: 0.1rem !important;
    width: 25% !important;
    background: #a0ce4e; }

.box_1 .font_box, .box_2 .font_box, .box_3 .font_box, .box_4 .font_box {
  height: 3rem;
  width: 18rem;
  display: flex;
  margin-top: 1rem; }
  .box_1 .font_box div, .box_2 .font_box div, .box_3 .font_box div, .box_4 .font_box div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background: #888 !important;
    text-align: center; }
    .box_1 .font_box div:hover, .box_2 .font_box div:hover, .box_3 .font_box div:hover, .box_4 .font_box div:hover {
      background: #a0ce4e !important; }
    .box_1 .font_box div p, .box_2 .font_box div p, .box_3 .font_box div p, .box_4 .font_box div p {
      margin-top: 0.5rem;
      color: #fff; }
    .box_1 .font_box div:hover p, .box_2 .font_box div:hover p, .box_3 .font_box div:hover p, .box_4 .font_box div:hover p {
      color: #fff !important; }

.box_2 a:hover {
  color: #a0ce4e !important;
  text-decoration: none; }

.box_3 p:hover {
  color: #a0ce4e; }

.box_3 img:hover {
  opacity: 0.5; }

.box_4 a {
  color: black; }
  .box_4 a:hover {
    color: #a0ce4e; }

/*最后一块内容*/
/*登录页面样式*/
.login {
  height: 5rem;
  background-color: #000; }
  .login li a {
    line-height: 5rem;
    font-size: 1.5rem;
    text-decoration: none; }

.border_bottom {
  margin-left: 1rem;
  border-bottom: 5px solid #a0ce4e; }

.login_box {
  background: #f8f9f9; }
  .login_box .box_style {
    height: 30rem;
    width: 50%;
    position: relative;
    left: 25%;
    display: none; }
    .login_box .box_style h3 {
      font-size: 3rem;
      font-weight: lighter;
      text-align: center; }
      .login_box .box_style h3 span {
        color: #a0ce4e; }
    .login_box .box_style input {
      width: 40rem;
      display: block;
      margin: 0rem auto 0;
      background: #f8f9f9;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 0.5px solid #000; }
      .login_box .box_style input:focus {
        outline: none; }
    .login_box .box_style a {
      color: #fff;
      text-decoration: none;
      width: 10rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      border-radius: 15px;
      background: #a0ce4e;
      display: block;
      margin: 20px auto; }

/*登录页面样式*/
